# 1. Python and Pandas Recap

## Loading the data
Load the following dataset into a new DataFrame `drinks_df`:

https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv

Hint: You can use the `read_csv`-method directly with the URL, since it accepts an URL as parameter.

In [1]:
# Please keep these lines
import pandas as pd
from dshelper import load_unpreprocessed_dataset
# End keep these lines

# Your solution here:

## Getting an overview ðŸ‘“

Get an overview about the dataset by using...

* the `head` function
* the `describe` function
* the `info` function

In [ ]:
# Your solution here

## Grouping Data

Use the <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#groupby-object-attributes">groupby</a> function on the continent to find out what the average, i.e. mean, beer servings in Europe are.

In [ ]:
# Your solution here

## Selecting Data
Create a new dataset called `gt_10l_alcohol_df` which contains only the rows of `drinks_df`in which `total_litres_of_pure_alcohol` is greater than 10.

In [ ]:
# Your solution here

Now use your new dataframe `gt_10l_alcohol_df` and get the continent which occurs most often in the DataFrame!

In [ ]:
# Your solution here

Now create two variables from your `drinks_df`: One (called `X`) which contmodens all columns except for `total_litres_of_pure_alcohol` and one (called `y`) which contains the `total_litres_of_pure_alcohol` column only.

Hint: Use the <a href="https://stackoverflow.com/a/18145399">drop</a> funtion!

In [ ]:
# Your solution here

## Preparing data
Now we are going to load a dataset which require some preprocessing...

In [ ]:
broken_df = load_unpreprocessed_dataset()

Look how many null values are in the dataset. Print the rows in which the null values occur!

In [2]:
# Your solution here

Now fill all missing values in beer_servings with the median value of beer_servings.

Think: What could be a better approach? (You don't have to implement it!)

In [3]:
# Your solution here

Finally, delete all rows in which country is null.

In [4]:
# Your solution here

### Filling missing values 

How would you fill the following NULL value, if you would use...

* Listwise deletion
* Mean imputation
* Using last value

| Income per month |
|------------------|
| 55.00\$          |
| NULL             |
| 75.000\$          |

### One Hot Encoding
Apply One Hot Encoding to the `continent` column of the `broken_df`.

Click <a href="https://stackoverflow.com/a/58101528">here</a> for a small hint. Use `pd.get_dummies`!

In [5]:
# Your solution here

# String Distance (15m)

Calculate the **Hamming Distance** and **Levenshtein Distance** between the two strings "flaw" and "lawn".

# Your solution here